[submodule "references/protoactor-go"]
	path = references/protoactor-go
	url = git@j5ik2o.github.com:asynkron/protoactor-go.git
[submodule "references/pekko"]
	path = references/pekko
	url = git@j5ik2o.github.com:apache/pekko.git
