[submodule "references/protoactor-go"]
	path = references/protoactor-go
	url = git@j5ik2o.github.com:asynkron/protoactor-go.git
[submodule "references/pekko"]
	path = references/pekko
	url = git@j5ik2o.github.com:apache/pekko.git
[submodule "references/pekko-persistence-effector"]
	path = references/pekko-persistence-effector
	url = git@github.com:j5ik2o/pekko-persistence-effector.git
[submodule "references/okite-ai"]
	path = references/okite-ai
	url = git@github.com:j5ik2o/okite-ai.git
[submodule "references/takt"]
	path = references/takt
	url = git@github.com:nrslib/takt.git
