name: publish

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings

concurrency:
  group: publish-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish:
    name: Cargo Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Setup Rust Toolchain
        uses: dtolnay/rust-toolchain@nightly
      - name: Configure Cargo Cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: publish
      - name: Publish to crates.io
        env:
          CARGO_TOKEN: ${{ secrets.CARGO_TOKEN }}
        run: cargo +nightly publish --token "${CARGO_TOKEN}"
